{% extends "base.html" %} 
{% block content %}

    <div class="jumbotron text-center">
        <img src="/media/logopersonalwebsite.jpg" id="mainimg">
                <div class="site-heading">
                    <h3 class=" site-heading text-white"> Welcome to my awesome Blog </h3>
                    <p class="text-light">We Love Django As much as you do..! &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <p>
Hey I'm Jan, after almost 3 years of working in (security) an international organisation i can reupload my blog. 
I took it down as an effort to fit in and avoid raising red flags but now the nightmare is coming to an end. 
Unfortunately I lost most of the content after an unpaid hosting mistake and a damaged hard drive.
I do some (e)commerce, programming and used to have a few side projects but life happened and need to start most things from scratch.
I like people, knowledge, travelling and interesting ventures (not necessarily economic ones).
I make a conscious effort not to be a (complete) butthole.

I'm on:

Current location: 

</p>    

{%endblock%}